# Entorno Virtual
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IDEs
.idea/
.vscode/

# Caché y reportes de Pytest
.pytest_cache/
.coverage
htmlcov/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
